<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Update Provider</title>
	<meta name="viewport" content="width=device-width, initialscale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootst
rap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
		crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
		integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>

<body>
	<div class="container my-5" align="center">
		<h2> Update Provider</h2>
		<div class="card col-md-6" align="left" >
			<div class="card-body">
				<div class="col-md-16">
					<form th:action="@{/provider/update}" th:object="${provider}" method="post" enctype="multipart/form-data">
						<input type="hidden" th:field="*{id}" />
						
							<div class="form-group col-md-11">
								<label for="name" class="col-formlabel"><b>Name</b></label> <input type="text"
									th:field="*{name}" class="form-control" id="name" placeholder="Name">
								<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
</div>
<div class="form-group col-md-11">
<label for="email" class="col-formlabel"><b>Email</b></label> 
<input type="text" th:field="*{email}" class="form-control" id="email" placeholder="Email">
 <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
</div>
<div class="form-group col-md-11">
<label for="address" class="colform-label"><b>Address</b></label> <input type="text" th:field="*{address}" class="form-control" id="address" placeholder="address">
 <span th:if="${#fields.hasErrors('address')}" th:errors="address" class="text-danger"></span>
</div>

						<div class="form-group col-md-11">
<label for="price" class="col-formlabel"><b>Old Logo</b></label>
<img alt="Image" th:src="@{'/images/providers/'+${provider.providerlogo}}" width="80" height="50" />
</div>

<div class="form-group col-md-11">
<label for="logo" class="col-formlabel"><b>New Logo</b></label>
<input  type="file"   class="form-control" name="files"  id="logo" placeholder="logo" multiple>

</div>


<div class="form-group col-md-12" align="center" style="padding-top: 10px;">
<input type="submit" class="btn
btn-primary" value="Update Provider">
<a th:href="@{/provider/list}"> <input type="button" class="btn btn-primary"
										value="return to Provider list"></a>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
</body>
</html>