<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Articles</title>
 <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">

	
	<style>
			
</style>
</head>
<body class="h-100"  >

   
<div th:replace="fragments/header :: header"/></div>
<div th:replace="fragments/dashboard :: nav"/></div>

  <div class="content-body">

<div class="container col-md-11" style="padding-top: 30px;padding-left: 40px; padding-bottom:180px;" align="center">

       <div class="card" >  
       
           <div align="right"><a th:href="@{'/home'}" >  <img th:src="@{/images/home.png}"
										 width="30" height="30" alt="Logo" /></a></div>
             <h1 align="center" style="color:#101092;padding-top:5px;">List of Articles</h1>   
             
                       <div class="card-body" align="center" >  
                       		<div class="" align="right" style="padding-right:30px;padding-bottom:0px;">

							<a th:href="@{'/article/add/'}" class="btn btn-primary"><img th:src="@{/images/add.png}"
										 width="30" height="30" alt="Logo" />  Add Article</a>
						</div>
						
						
						
						
							<div class="my-4" align="right" style="padding-right:30px;padding-bottom:0px;">
								<table border=0 align="right" style="padding-bottom:0px;" width=550>
									<tr>
									<td width="130"></td><td width="130"></td>
										<td align="left">
										
											<form class="search-form" th:action="@{/article/search/}">
												<input type="text" name="search" id="search" placeholder="Search..."
													class="search-input" />
												<button type="submit" value="search"
													class="search-button">Search</button>
											</form>
										</td>
									</tr>
								</table>
							</div>

                       
<div th:switch="${articles}" class="container my-5">






 

<div th:case="null" style="padding-top: 50px;padding-bottom:60px; color:powderblue">


							<h2 style=" color:rgb(14, 134, 222)" >No Articles yet!</h2></div>
<div th:case="*" style="padding-right:18px;padding-bottom:60px;">
  <div class="table-responsive">
                                    <table class="table table-striped " border=0>
<thead>
<tr align="center">
<th>Label</th>
<th>Price</th>
<th>Provider</th>
<th>Details</th>
<th>Edit</th>
<th>Delete</th>
</tr>
</thead>
<tbody>
<tr th:each="article : ${articles}">
<td th:text="${article.label}"></td>
<td th:text="${article.price}"></td>
<td th:text="${article.provider.name}"></td>
<td align="center"><a
 th:href="@{/article/show/{id}(id=${article.id})}" >
 <img th:src="@{/images/detail.png}"
										 width="50" height="30" alt="Logo" /> </a></td>
<td align="center"><a
<td><a th:href="@{/article/edit/{id}(id=${article.id})}" >
<img th:src="@{/images/edit.png}"
										 width="30" height="30" alt="Logo" /></a></td>
<td align="center"><a th:href="@{/article/delete/{id}(id=${article.id})}" >
 <img th:src="@{/images/delete1.png}"
										 width="30" height="30" alt="Logo" /></a></td>
</tr>
</tbody>
</table>
</div>
</div>

</div>
</div></div>
</div></div></div></div>

<div class="card" align="center" style="padding-top:0px;padding-bottom:0px">
            <div class="copyright" align="center">
<div th:replace="fragments/footer::footer" /></div></div>


</div>

 <script src="plugins/common/common.min.js"></script>
    <script src="js/custom.min.js"></script>
    <script src="js/settings.js"></script>
    <script src="js/gleek.js"></script>
    <script src="js/styleSwitcher.js"></script>

    <script src="./plugins/tables/js/jquery.dataTables.min.js"></script>
    <script src="./plugins/tables/js/datatable/dataTables.bootstrap4.min.js"></script>
    <script src="./plugins/tables/js/datatable-init/datatable-basic.min.js"></script>
</body>
</html>