<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>

</style>
</head>

<body>
	<div th:fragment="header">
<div class="nav-header"  style="background-color:white" align="center">
  
      
         
          <span class="brand-title" align="center">
              <img th:src="@{/images/sip-logo.png}" width="190" height="80"   align="center" style="padding-left:55px;padding-top: 9px;">
          </span>
    
  
</div>


  

 <div class="header" >    
  <div class="header-content clearfix">
    <div class="nav-control">
      <div class="hamburger">
          <span class="toggle-icon"><i class="icon-menu"></i></span>
      </div>
  </div>
   
    
      <div class="header-right">
        
          <ul class="clearfix">
         
              
              <li class="icons dropdown d-none d-md-flex">
                
                   <span align="right"> <span style="color: rgb(243, 248, 254);" sec:authentication="name"></span>
                  
                 
              </li>
              <li class="icons dropdown">
              <div class="dropdown" style="float:right;padding-right:0px" >
 
             
				 <img th:src="@{/images/user1.png}" class="dropbtn"
						width="40" height="40" alt="Logo" />
                   
                   
       
               
         <div class="dropdown-content">
    
         <a th:href="@{/logout}"><span><img th:src="@{/images/logout2.png}" width="16" height="18"/> &nbsp;&nbsp; Logout</span></a>
         </div>
       </div>

              </li> 
          </ul>
      </div>
  </div>
</div>



	</div>
 
</body>

</html>