<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>

</style>
</head>

<body>
	<div th:fragment="header">
		<div class="container" align="right">
			<span align="right">Logged user:&nbsp; <span style="color: #7660C2;" sec:authentication="name"></span>
				&nbsp;&nbsp;
			<div class="dropdown" style="float:right;padding-right:0px" >
 
  	
				 <img th:src="@{/images/logout.png}" class="dropbtn"
						width="17" height="18" alt="Logo" />
						
						

				
  <div class="dropdown-content">
    <a th:href="@{/logout}"><span>Logout<img th:src="@{/images/key.png}" width="16" height="18"/> </span></a>
   
  </div>
</div>
		




		
		</div>



	</div>
 
</body>

</html>