<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Roles</title>
 <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">

	
	<style>
			
</style>
</head>
<body class="h-100"  >

   
<div th:replace="fragments/header :: header"/></div>
<div th:replace="fragments/dashboard :: nav"/></div>

  <div class="content-body">

<div class="container col-md-11" style="padding-top: 30px;padding-left: 40px; ;" align="center">

       <div class="card" >  
       
           <div align="right"><a th:href="@{'/home'}" >  <img th:src="@{/images/home.png}"
										 width="30" height="30" alt="Logo" /></a></div>
      
             <h1 align="center" style="color:#101092;padding-top:15px;">List of Roles</h1>   
                       <div class="card-body"  align="center">
                       
                       
<div th:switch="${roles}" class="container ">
<p class="" align="right" style="padding-right:20px;padding-bottom:0px;">
<a th:href="@{'/role/add/'}" class="btn btn-primary"><img th:src="@{/images/add.png}"
										 width="30" height="30" alt="Logo" />  Add Role</a>
</p>
					
					<div th:case="null" style="padding-top: 50px;padding-bottom:60px; color:powderblue">


							<h2 style=" color:rgb(14, 134, 222)" >
						No Role yet!</h2></div>
						<div th:case="*" style="padding-right:18px;padding-bottom:60px;">
							<h3 align="left" style="color:rgb(0, 128, 192);padding-top:0px;">Nombre total de role = <span th:text="${nbr}">10</span></h3>
							<table class="table table-striped table-responsive-md">
								<thead>
									<tr>
										<th>ID</th>
										<th>Role</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="role : ${roles}">
										<td th:text="${role.id}"></td>
										<td th:text="${role.role}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="fragments/footer::footer" /></footer></div>
</body>

</html>